extends layout

block hero-unit
  .jumbotron
    .container
      h1 MJU - Survey

block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 설문 등록 및 설문 수행 기능
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 설문 등록
          li 설문 응답
